Source: huayra-backgrounds-extras
Section: main
Priority: extra
Maintainer: Ivan Hoffmann <digital.h@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/HuayraLinux/huayra-backgrounds-extras
Vcs-Git: https://github.com/HuayraLinux/huayra-backgrounds-extras.git

Package: huayra-backgrounds-extras
Architecture: all
Depends: ${misc:Depends}
Description: Pack de fondos de pantalla extras de Huayra.
 Fondos de escritorio en diferentes resolusiones, agrupados por tema.

Package: huayra-backgrounds-community
Architecture: all
Depends: ${misc:Depends}
Description: Pack de fondos de pantalla hechos por la comunidad.
 Fondos de escritorio creados por la comunidad de Huayra.
