Source: huayra-backgrounds-extras
Section: main
Priority: extra
Maintainer: Miguel Angel Garcia <miguel.garcia@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
#Homepage: <insert the upstream URL, if relevant>
Vcs-Git: git@200.55.245.7:/huayra-backgrounds-extras.git

Package: huayra-backgrounds-extras
Architecture: all
Depends:
Description: Pack de fondos de pantalla extras de Huayra.
